$_paddings:(
    10: 10px,
    20: 20px,
    30: 30px,
    40: 40px,
    50: 50px,
    60: 60px,
    70: 70px,
    80: 80px,
    90: 90px,
    100: 100px,
);

$_directions:(top, right, bottom, left);

@each $direction in $_directions{
  @each $key, $value in $_paddings{
    @if #{direction} == top{
        .pt#{$key}{
          padding-top: #{$value};
      }
    }
    @if #{direction} == right{
        .pr#{$key}{
          padding-right: #{$value};
      }
    }
    @if #{direction} == bottom{
        .pb#{$key}{
          padding-bottom: #{$value};
      }
    }
    @if #{direction} == left{
        .pl#{$key}{
          padding-left: #{$value};
      }
    }
  }
}
